# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log
npm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
.DS_Store

# Environment variables
.env
package-lock.json
